# Input and output files
*.txt
*.input
*.out
*.core.atom
*.excited.atom
*.sigma
*.int
*.configs
*.matrix
*.eigenstates

# Build files, build locations, and packages
*.tar
*.tar.gz
*.[oa]
*~
gitInfo.h
Release
Test
Debug
ambit

# Auxillary documentation files
*.aux
*.dvi
*.log
*.pdf

