# Input and output files
AngularData/
*.input
*.out
*.basis
*.levels
*.core.atom
*.excited.atom
*.sigma
*.int
*.configs
*.matrix
*.eigenstates

# Build files, build locations, and packages
*.tar
*.tar.gz
*.[oa]
*~
gitInfo.h
Release
Test
Debug
ambit
ambit_test
Eigen
build

# SCons configuration and temporary file
config.ini
.sconsign.dblite
.sconf_temp
config.log

# Auxillary documentation files
*.aux
*.dvi
*.log
*.pdf
*.out

# Python bytecode
__init__.pyc
read_basis.pyc
__pycache__
