# Input and output files
AngularData/
*.input
*.out
*.basis
*.levels
*.sigma
*.int
*.matrix

# Build files, build locations, and packages
*.tar
*.gz
*.[oa]
*~
gitInfo.h
ambit
ambit_test
Eigen
build*
doxygen

# Auxillary documentation files
*.aux
*.dvi
*.log
*.pdf
*.out
*.toc

# Python bytecode
__init__.pyc
read_basis.pyc
__pycache__
